.cont1 {
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px ;
    color: white;
    padding-top: 23px;
    background-color: #000;

}
/* .container {
    position: fixed;

} */