header {
    background-color: gray;
    margin: 0;
    /* padding: 20px; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}
header ul {
    padding-left: 50%;
}
header ul li {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
}
li:hover {
    color: rgb(204, 85, 85);
}
header img {
    padding-left: 10px;
    margin-left: 50px;
}
header h1:hover {
    color: rgb(204, 85, 85);
}
div ul{
    padding-top: 60px;
}
div li {
    display: inline-block;
    margin: 30px;
    padding-left: 200px;
}