
<div>
    <h1>Welcome</h1>
</div> 
<p *ngIf="msg">
  {{msg}}
</p>

<div class="container">

   
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
             
            </div>

            <div class="card mb-3">

              <div class="card-body">

               
                <form #f="ngForm" (submit)="doLogin(f)" class="row g-3 needs-validation" >

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Username</label>
                    <div class="input-group has-validation">
                     
                      <input type="text" autocomplete="off" #userName="ngModel" ngModel name="userName" class="form-control" id="yourUsername" required>
                      <div class="invalid-feedback">Please enter your username.</div>
                    </div> 
                    <p class="alert alert-danger" *ngIf="userName.touched && userName.errors?.['required']">
                      please enter userName
                    </p>
                   
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Password</label>
                    <input type="password" #password="ngModel" ngModel name="password" class="form-control" id="yourPassword" required>
                    <div class="invalid-feedback">Please enter your password!</div>
                  </div>

                  <p class="alert alert-danger" *ngIf="password.touched && password.errors?.['required']">
                    please enter password
                  </p>

                  
                  <div class="col-12">
                    <button class="btn btn-success w-100" [disabled]="f.invalid" type="submit" >Login</button>
                  </div>
                 
                </form>

              </div>
            </div>

           

          </div>
        </div>
      </div>

   

  </div>

