<div class="container">
    <h1>News App</h1> <br>

    <div class="d-flex justify-content-center p-4">
        
<h5 class="mt-2 p-1">categories:</h5> 
<select class="form-select" (change)="getNews($event)">
    <option value="">Select Category News</option>
    <option value="">All</option>
    <option value="business">Business</option>
    <option value="entertainment">Entertainment</option>
    <option value="health">Health</option>
    <option value="science">Science</option>
    <option value="sports">Sports</option>
    <option value="Technology">Technology</option>
</select>
    </div>

<div class="row ">
    <div *ngFor="let item of newsData" class="card m-2" style="width: 18rem;">
        <img class="card-img-top" [src]="item.urlToImage" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}</p>
          <a [href]="item.url" target="_blank" class="btn btn-primary">Read more</a>
        </div>
      </div>
</div>
</div>

<app-loader [loading]="loader"></app-loader>


